#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Use hardening options
export DEB_BUILD_HARDENING=1

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

build: build-stamp

build-stamp:
	dh_testdir
	$(MAKE) initdir='$(prefix)/etc/init.d' scriptdir='$(prefix)/etc/netplug'
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	$(MAKE) clean
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	#$(MAKE) prefix=$(CURDIR)/debian/netplug initdir='$(prefix)/etc/init.d' scriptdir='$(prefix)/etc/netplug' install
	install -m 755 netplugd debian/netplug/sbin
	install -m 644 etc/netplugd.conf debian/netplug/etc/netplug
	install -m 755 scripts/netplug debian/netplug/etc/netplug
	#install -m 644 man/man8/netplugd.8 debian/netplug/usr/share/man/man8/netplugd.8
	#gzip -9 debian/netplug/usr/share/man/man8/netplugd.8

# Build architecture-independent files here.
binary-indep: build install
	rm -f debian/files
	# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installinit
	dh_installman man/man8/netplugd.8
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	if [ -f "../.VYATTA_DEV_BUILD" ]; then \
		dh_gencontrol -- -v999.dev; \
	else \
		dh_gencontrol; \
	fi
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
